<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single_layout}"
    xmlns:th="http://www.thymeleaf.org">

<body>
    <div layout:fragment="content">
        <form id="report_modify_form">
            <div class="row m-0">
                <div class="col-md p-0">
                    <table class="table table-bordered text-center mb-0">
                        <colgroup>
                            <col width="100px" />
                            <col width="300px" />
                            <col width="100px" />
                            <col width="310px" />
                        </colgroup>
                        <tbody>
                            <tr class="input_kr">
                                <th colspan="4">기본정보</th>
                            </tr>
                            <tr>
                                <th>성적서 번호</th>
                                <td>
                                    <input type="hidden" class="form-control middleItemCodeId"
                                        name="middleItemCodeId" />
                                    <input type="hidden" class="form-control smallItemCodeId" name="smallItemCodeId" />
                                    <input type="text" class="form-control" id="calbr_report_num"
                                        name="calbr_report_num" disabled />
                                    <input type="hidden" class="form-control" name="calibration_cycle"
                                        id="calibration_cycle" />
                                </td>
                                <th>접수자</th>
                                <td>
                                    <input type="text" class="form-control" id="receipt_manager" name="receipt_manager"
                                        disabled />
                                </td>
                            </tr>
                            <tr>
                                <th>성적서 발행</th>
                                <td class="agent_flag_type text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="" name="report_lang"
                                                value="kr" checked>
                                            <label class="form-check-label" for="report_lang_kr">국문</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="report_lang_en"
                                                name="report_lang" value="en">
                                            <label class="form-check-label" for="report_lang_en">영문</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="report_lang_both"
                                                name="report_lang" value="both">
                                            <label class="form-check-label" for="report_lang_both">국문+영문</label>
                                        </div>
                                    </div>
                                </td>
                                <th>아일락 마크</th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" id="is_ilac" name="is_ilac"
                                                value="y">
                                            <label class="form-check-label" for="is_ilac">적용</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" name="is_ilac" value="n"
                                                checked>
                                            <label class="form-check-label" for="is_ilac">미적용</label>
                                        </div>
                                    </div>
                                </td>
                                <th>긴급 여부</th>
                                <td class="agent_flag_type text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="priority_type"
                                                name="priority_type" value="general" checked>
                                            <label class="form-check-label" for="priority_type">일반</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="priority_type"
                                                name="priority_type" value="emergency">
                                            <label class="form-check-label" for="priority_type">긴급</label>
                                        </div>
                                    </div>
                                </td>
                                <th>관리번호</th>
                                <td><input type="text" class="form-control" id="manage_no" name="manage_no" disabled />
                                </td>
                            </tr>
                            <tr>
                                <th>구분</th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" id="calbr_type"
                                                name="calbr_type" value="standard" checked>
                                            <label class="form-check-label" for="calbr_type">고정표준실</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" name="calbr_type" value="site">
                                            <label class="form-check-label" for="calbr_type">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <th>
                                </th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="site_div d-none">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="rsi_type"
                                                    name="calbr_take_type" value="site_calbr">
                                                <label class="form-check-label" for="rsi_type">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="rsi_type"
                                                    name="calbr_take_type" value="site_agcy">
                                                <label class="form-check-label" for="rsi_type">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="standard_div d-none">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="rsi_type"
                                                    name="calbr_take_type" value="send">
                                                <label class="form-check-label" for="rsi_type">택배</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="rsi_type"
                                                    name="calbr_take_type" value="self" checked>
                                                <label class="form-check-label" for="rsi_type">방문</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="rsi_type"
                                                    name="calbr_take_type" value="site">
                                                <label class="form-check-label" for="rsi_type">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="rsi_type"
                                                    name="calbr_take_type" value="pickup">
                                                <label class="form-check-label" for="rsi_type">
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="rsi_type"
                                                    name="calbr_take_type" value="etc">
                                                <label class="form-check-label" for="rsi_type">기타</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <th>지점 구분</th>
                            <td class="text-left" colspan="3">
                                <div class="ml-2">
                                    <!-- 고정표준실 -->
                                    <div class="standard_div">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="place_type10"
                                                name="place_type" value="hq">
                                            <label class="form-check-label" for="place_type10">본원</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="place_type20"
                                                name="place_type" value="asan">
                                            <label class="form-check-label" for="place_type20">
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="place_type30"
                                                name="place_type" value="cheonan">
                                            <label class="form-check-label" for="place_type30">
                                            </label>
                                        </div>
                                    </div>
                                    <!-- 현장교정 -->
                                    <div class="site_div d-none">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="place_type40"
                                                name="place_type" value="same">
                                            <label class="form-check-label" for="place_type40">업체동일</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="place_type50"
                                                name="place_type" value="move">
                                            <label class="form-check-label" for="place_type50">이동</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <th>출장 시작일시</th>
                            <td>
                                <input type="datetime-local" class="form-control w-100" id="btrip_date"
                                    name="btrip_date" readonly />
                            </td>
                            <th>출장 종료일시</th>
                            <td>
                                <input type="datetime-local" class="form-control w-100" id="btrip_end_date"
                                    name="btrip_end_date" readonly />

                            </td>
                            <tr>
                                <th>교정일</th>
                                <td>
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="calbr_date" name="calbr_date" />
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary set_today_date" type="button">오늘</button>
                                        </div>
                                    </div>
                                </td>
                                <th>완료예정일</th>
                                <td><input type="date" class="form-control" id="calbr_complete_date"
                                        name="calbr_complete_date" /></td>
                            </tr>
                            <tr>
                                <th>신청업체</th>
                                <td class="text-left">
                                    <input type="text" class="form-control" id="cust_agent" name="cust_agent"
                                        disabled />
                                </td>
                                <th>소분류</th>
                                <td>
                                    <select class="item_small_code_idx form-control select2" name="item_small_code_idx">
                                        <option value="0">선택하세요</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>신청업체 주소</th>
                                <td colspan="3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cust_agent_addr"
                                            name="cust_agent_addr" disabled />
                                        <div class="input-group-append">
                                            <button type="button"
                                                class="btn btn-info w-100 rounded-0 map_road_view roadview_div"
                                                data-title="신청업체"><i class="bi bi-pin-map"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>신청업체 담당자</th>
                                <td class="text-left">
                                    <input type="text" class="form-control cust_manager" name="cust_manager" disabled />
                                </td>
                                <th>담당자 연락처</th>
                                <td class="text-left">
                                    <input type="text" class="form-control cust_manager_tel" name="cust_manager_tel"
                                        disabled />
                                </td>
                            </tr>
                            <tr>
                                <th>실무자</th>
                                <td class="text-left">
                                    <select class="member_list form-control select2" id="work_member_idx"
                                        name="work_member_idx">
                                        <option value="0">선택하세요.</option>
                                    </select>
                                </td>
                                <th class="approve_row">
                                </th>
                                <td class="text-left approve_row">
                                    <select class="member_list form-control select2" id="approv_member_idx"
                                        name="approv_member_idx">
                                        <option value="0">선택하세요.</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="">
                                <th colspan="3" class="border-0">
                                    <p class="float-left pl-3">표준장비 리스트 <span id="equip_cnt"></span></p>
                                </th>
                                <th class="border-0">
                                    <button class="btn btn-secondary float-right search_equip" data-type=""
                                        type="button">조회</button>
                                </th>
                            </tr>
                            <tr class="">
                                <td colspan="4">
                                    <input type='hidden' id="delete_idx" name="delete_idx">
                                    <div class="equipageList"></div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3">소급성</th>
                                <td colspan="3"><input type="text" class="form-control" id="retro_active"
                                        name="retro_active" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control" id="retro_active2"
                                        name="retro_active2" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control" id="retro_active3"
                                        name="retro_active3" /></td>
                            </tr>
                            <tr>
                                <th rowspan="3">소급성(영문)</th>
                                <td colspan="3"><input type="text" class="form-control" id="retro_active_en"
                                        name="retro_active_en" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control" id="retro_active_en2"
                                        name="retro_active_en2" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control" id="retro_active_en3"
                                        name="retro_active_en3" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-md pl-1 py-0 pr-0 scroll scroll-y" style="min-height: 773px; max-height: 773px;"> -->
                <!-- <div class="col-md pl-1 py-0 pr-0 scroll scroll-y" style="min-height: 748px; max-height: 748px; overflow-y: scroll;"> -->
                <div class="col-md pl-1 py-0 pr-0 scroll scroll-y"
                    style='min-height: 748px; max-height: 748px; overflow-y: scroll;'>
                    <table class="table table-bordered text-center mb-0 ">
                        <colgroup>
                            <col width="100px" />
                            <col width="300px" />
                            <col width="100px" />
                            <col width="300px" />
                        </colgroup>
                        <tbody>
                            <tr class="input_kr">
                                <th colspan="4">성적서발행처 정보</th>
                            </tr>
                            <tr>
                                <th>성적서발행처</th>
                                <td><input type="text" class="form-control" id="report_agent" name="report_agent"
                                        readonly /></td>
                                <th>성적서발행처(영문)</th>
                                <td><input type="text" class="form-control" id="report_agent_en" name="report_agent_en"
                                        readonly /></td>
                            </tr>
                            <tr>
                                <th>성적서발행처 주소</th>
                                <td colspan="3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="report_agent_addr"
                                            name="report_agent_addr" readonly />
                                        <div class="input-group-append">
                                            <button type="button"
                                                class="btn btn-info w-100 rounded-0 map_road_view roadview_div"
                                                data-title="성적서발행처"><i class="bi bi-pin-map"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>성적서발행처 담당자</th>
                                <td><input type="text" class="form-control" id="report_agent_manager" name="rsi_manager"
                                        readonly /></td>
                                <th>담당자 연락처</th>
                                <td><input type="text" class="form-control" id="report_agent_manager_tel"
                                        name="rsi_manager_tel" readonly /></td>
                            </tr>
                            <!-- 한국교정기술원의 경우, 교정장소를 표시 -->
                            <tr>
                                <th>교정 지점</th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <!-- 본원 -->
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="cali_point10"
                                                name="cali_point" value="hq" checked>
                                            <label class="form-check-label" for="cali_point10">본원</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="cali_point20"
                                                name="cali_point" value="asan">
                                            <label class="form-check-label" for="cali_point20">
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <th>교정센터</th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="cali_point10"
                                                name="cali_point" value="test" disabled>
                                            <label class="form-check-label" for="cali_point10">가-시험센터</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="cali_point20"
                                                name="cali_point" value="cali" disabled>
                                            <label class="form-check-label" for="cali_point20">나-정도센터</label>
                                        </div>
                                    </div>
                                </td>
                                <th>교정장소</th>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cali_address" name="cali_address" />
                                        <input type="hidden" class="form-control" id="cali_address_en"
                                            name="cali_address_en" />
                                        <div class="input-group-append">
                                            <button type="button"
                                                class="btn btn-info w-100 rounded-0 map_road_view roadview_div"
                                                data-target="#<?= $modal_id ?> #cali_address" data-title="교정장소"><i
                                                    class="bi bi-pin-map"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>접수 요청사항</th>
                                <td colspan="3"><textarea class="form-control" style="height:45px !important"
                                        id="rsi_remark" name='rsi_remark' rows='3' readonly></textarea></td>
                            </tr>
                            <tr>
                                <input type='hidden' name='delete_ids' value>
                                <td colspan="4" id='eq_list'></td>
                            </tr>
                            <!-- 자인을 제외한 대영부터는 환경정보가 보이도록 한다. -->
                            <!-- 방사선도 환경정보 보이지 않도록 함 -->
                            <tr>
                                <th colspan="4">환경정보</th>
                            </tr>
                            <tr>
                                <th>온도 (°C)</th>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최저</span>
                                        </div>
                                        <input type="text" class="form-control input_temp" name="temp_low">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최고</span>
                                        </div>
                                        <input type="text" class="form-control input_temp" name="temp_high">
                                    </div>
                                </td>
                                <th>습도 (%R.H.)</th>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최저</span>
                                        </div>
                                        <input type="text" class="form-control input_temp" name="rh_low">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최고</span>
                                        </div>
                                        <input type="text" class="form-control input_temp" name="rh_high">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="4">비고</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <textarea class="form-control" id="calbr_report_remark" name="calbr_report_remark"
                                        rows=""></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

    </div>
</body>