<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single_layout}"
    xmlns:th="http://www.thymeleaf.org">

<body>
    <div layout:fragment="content">
        <form class="reportModifyForm">
            <div class="row m-0">
                <div class="col-md p-0">
                    <table class="table table-bordered text-center mb-0">
                        <colgroup>
                            <col width="100px" />
                            <col width="300px" />
                            <col width="100px" />
                            <col width="310px" />
                        </colgroup>
                        <tbody>
                            <tr class="input_kr">
                                <th colspan="4">기본정보</th>
                            </tr>
                            <tr>
                                <th>접수구분</th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="orderType100"
                                                name="orderType" value="ACCREDDIT">
                                            <label class="form-check-label" for="orderType100">공인</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="orderType200"
                                                name="orderType" value="UNACCREDDIT">
                                            <label class="form-check-label" for="orderType200">비공인</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="orderType300"
                                                name="orderType" value="TESTING">
                                            <label class="form-check-label" for="orderType300">시험</label>
                                        </div>
                                    </div>
                                </td>

                                <th>교정일자</th>
                                <td>
                                    <div class="input-group">
                                        <input type="date" class="form-control caliDate" name="caliDate" />
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary setTodayDate" type="button">오늘</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>성적서 발행</th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="" name="reportLang"
                                                value="KR" checked>
                                            <label class="form-check-label" for="reportLangKr">국문</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="reportLangEn"
                                                name="reportLang" value="EN">
                                            <label class="form-check-label" for="reportLangEn">영문</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="reportLangBoth"
                                                name="reportLang" value="BOTH">
                                            <label class="form-check-label" for="reportLangBoth">국문+영문</label>
                                        </div>
                                    </div>
                                </td>
                                <th>긴급 여부</th>
                                <td class="agent_flag_type text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="priorityTypeGe"
                                                name="priorityType" value="NORMAL" checked>
                                            <label class="form-check-label" for="priorityTypeGe">일반</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="priorityType"
                                                value="EMERGENCY" id="priorityTypeEm">
                                            <label class="form-check-label" for="priorityTypeEm">긴급</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>교정유형</th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" id="caliType100"
                                                name="caliType" value="STANDARD" checked>
                                            <label class="form-check-label" for="caliType100">고정표준실</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" name="caliType" value="SITE"
                                                id="caliType200">
                                            <label class="form-check-label" for="caliType200">현장교정
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <th>교정상세유형
                                </th>
                                <td class="text-left">
                                    <div class="ml-2">
                                        <div class="siteDiv">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="caliTakeType100"
                                                    name="caliTakeType" value="SITE_SELF">
                                                <label class="form-check-label" for="caliTakeType100">현장교정
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="caliTakeType200"
                                                    name="caliTakeType" value="SITE_AGCY">
                                                <label class="form-check-label" for="caliTakeType200">현장대행
                                                </label>
                                            </div>
                                        </div>
                                        <div class="standardDiv d-none">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="caliTakeType300"
                                                    name="caliTakeType" value="SEND">
                                                <label class="form-check-label" for="caliTakeType300">택배</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="caliTakeType400"
                                                    name="caliTakeType" value="SELF" checked>
                                                <label class="form-check-label" for="caliTakeType400">방문</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="caliTakeType500"
                                                    name="caliTakeType" value="SITE">
                                                <label class="form-check-label" for="caliTakeType500">현장반입
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="caliTakeType600"
                                                    name="caliTakeType" value="PICKUP">
                                                <label class="form-check-label" for="caliTakeType600">픽업
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="caliTakeType700"
                                                    name="caliTakeType" value="ETC">
                                                <label class="form-check-label" for="caliTakeType700">기타</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>신청업체</th>
                                <td class="text-left">
                                    <input type="text" class="form-control" name="custAgent" disabled />
                                </td>
                                <th>관리번호</th>
                                <td class="text-left">
                                    <input type="text" class="form-control" name="manageNo" disabled />
                                </td>
                            </tr>
                            <tr>
                                <th>신청업체 주소</th>
                                <td colspan="3">
                                    <div class="input-group">
                                        <input type="text" class="form-control custAgentAddr" name="custAgentAddr"
                                            disabled />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info w-100 rounded-0 viewRoadMap"
                                                data-target="custAgentAddr"><i class="bi bi-pin-map"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>신청업체 담당자</th>
                                <td class="text-left">
                                    <input type="text" class="form-control custManager" name="custManager" disabled />
                                </td>
                                <th>담당자 연락처</th>
                                <td class="text-left">
                                    <input type="text" class="form-control custManagerTel" name="custManagerTel"
                                        disabled />
                                </td>
                            </tr>
                            <tr>
                                <th>중분류</th>
                                <td>
                                    <select class="middleItemCodeId form-control select2" name="middleItemCodeId">
                                        <option value="0">선택하세요</option>
                                    </select>
                                </td>
                                <th>소분류</th>
                                <td>
                                    <select class="smallItemCodeId form-control select2" name="smallItemCodeId">
                                        <option value="0">선택하세요</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>실무자</th>
                                <td class="text-left">
                                    <select class="member_list form-control select2 workMemberId" name="workMemberId">
                                        <option value="0">선택하세요.</option>
                                    </select>
                                </td>
                                <th class="approve_row">기술책임자
                                </th>
                                <td class="text-left approve_row">
                                    <select class="member_list form-control select2 approvalMemberId"
                                        name="approvalMemberId">
                                        <option value="0">선택하세요.</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="">
                                <th colspan="3" class="border-0">
                                    <p class="float-left pl-3" style="margin: auto;">표준장비 리스트 <span
                                            class="equipCnt"></span></p>
                                </th>
                                <th class="border-0">
                                    <button class="btn btn-secondary float-right searchEquipage"
                                        type="button">조회</button>
                                </th>
                            </tr>
                            <tr class="">
                                <td colspan="4">
                                    <div class="equipageList"></div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3">소급성</th>
                                <td colspan="3"><input type="text" class="form-control tracestatementInfo"
                                        name="traceStatement" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control tracestatementInfo"
                                        name="traceStatement2" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control tracestatementInfo"
                                        name="traceStatement3" /></td>
                            </tr>
                            <tr>
                                <th rowspan="3">소급성(영문)</th>
                                <td colspan="3"><input type="text" class="form-control tracestatementInfo"
                                        name="traceStatementEn" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control tracestatementInfo"
                                        name="traceStatementEn2" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="text" class="form-control tracestatementInfo"
                                        name="traceStatementEn3" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-md pl-1 py-0 pr-0 scroll scroll-y" style="min-height: 773px; max-height: 773px;"> -->
                <!-- <div class="col-md pl-1 py-0 pr-0 scroll scroll-y" style="min-height: 748px; max-height: 748px; overflow-y: scroll;"> -->
                <div class="col-md pl-1 py-0 pr-0 scroll scroll-y" style="min-height: 748px; max-height: 748px;">
                    <table class="table table-bordered text-center mb-0 ">
                        <colgroup>
                            <col width="130px" />
                            <col width="270px" />
                            <col width="130px" />
                            <col width="270px" />
                        </colgroup>
                        <tbody>
                            <tr class="input_kr">
                                <th colspan="4">성적서발행처 정보</th>
                            </tr>
                            <tr>
                                <th>성적서발행처</th>
                                <td><input type="text" class="form-control" name="reportAgent" readonly /></td>
                                <th>성적서발행처(영문)</th>
                                <td><input type="text" class="form-control" name="reportAgentEn" readonly /></td>
                            </tr>
                            <tr>
                                <th>성적서발행처 주소</th>
                                <td colspan="3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="reportAgentAddr" readonly />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info w-100 rounded-0 viewRoadMap"
                                                data-target="reportAgentAddr"><i class="bi bi-pin-map"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>성적서발행처 담당자</th>
                                <td><input type="text" class="form-control" name="reportManager" readonly /></td>
                                <th>담당자 연락처</th>
                                <td><input type="text" class="form-control" name="reportManagerTel" readonly /></td>
                            </tr>
                            <!-- 품목정보를 모두 가져온다. -->
                            <tr>
                                <td colspan="4" class="itemList">
                                    <table class="table table-bordered text-center mb-0 itemTable">
                                        <colgroup>
                                            <col width="130px" />
                                            <col width="270px" />
                                            <col width="130px" />
                                            <col width="270px" />
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th colspan="3" class="border-0 text-left"><span
                                                        class="pl-3">기기정보</span> </th>
                                                <th class="border-0 "><button
                                                        class="btn btn-primary addChild float-right"
                                                        type="button">추가</button></th>
                                            </tr>
                                            <tr>
                                                <th>기기명(국문)</th>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="hidden" name="itemCaliCycle">
                                                        <input type="text" class="form-control" name="itemName"
                                                            placeholder="품목을 검색하세요." value="">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary" type="button">조회</button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <th>기기명(영문)</th>
                                                <td>
                                                    <input type="text" class="form-control" name="itemNameEn">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>제작회사(국문)</th>
                                                <td><input type="text" class="form-control itemMakeAgent"
                                                        name="itemMakeAgent" /></td>
                                                <th>제작회사(영문)</th>
                                                <td><input type="text" class="form-control itemMakeAgent"
                                                        name="itemMakeAgentEn" value="" /></td>
                                            </tr>
                                            <tr>
                                                <th>형식</th>
                                                <td><input type="text" class="form-control itemFormat" name="itemFormat"
                                                        value="" />
                                                </td>
                                                <th>기기번호</th>
                                                <td><input type="text" class="form-control itemNum" name="itemNum"
                                                        value="" /></td>
                                            </tr>
                                            <tr>
                                                <th>교정수수료</th>
                                                <td><input type="text"
                                                        class="form-control text-right pr-1  caliFee comma number_integer"
                                                        maxlength="20" name="caliFee" value="" /></td>
                                                <th>추가금액</th>
                                                <td><input type="text"
                                                        class="form-control text-right pr-1  additionalFee comma number_integer"
                                                        name="additionalFee" value="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- 품목비고 -->
                                                <th>품목비고</th>
                                                <td colspan="3"><input type="text" class="form-control remark"
                                                        name="remark" value="" /></td>
                                            </tr>
                                            <tr>
                                                <!-- 추가금액사유 -->
                                                <th>추가금액사유</th>
                                                <td colspan="3"><input type="text"
                                                        class="form-control additionalFeeCause"
                                                        name="additionalFeeCause" value="" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="4">환경정보</th>
                            </tr>
                            <tr>
                                <th>온도 (°C)</th>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최저</span>
                                        </div>
                                        <input type="text" class="form-control environmentInfo environment_decimal"
                                            name="tempMin">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최고</span>
                                        </div>
                                        <input type="text" class="form-control  environmentInfo environment_decimal"
                                            name="tempMax">
                                    </div>
                                </td>
                                <th>습도 (%R.H.)</th>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최저</span>
                                        </div>
                                        <input type="text" class="form-control  environmentInfo environment_decimal"
                                            name="humMin">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최고</span>
                                        </div>
                                        <input type="text" class="form-control  environmentInfo environment_decimal"
                                            name="humMax">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>기압 (hPa)</th>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최저</span>
                                        </div>
                                        <input type="text" class="form-control  environmentInfo environment_decimal"
                                            name="preMin">
                                        <div class="input-group-append text-center">
                                            <span class="input-group-text rounded-0">최고</span>
                                        </div>
                                        <input type="text" class="form-control environmentInfo environment_decimal"
                                            name="preMax">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="4">요청사항</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <textarea class="form-control request" name="request" rows="5"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

    </div>
</body>

</html>