<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single_layout}"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- 여기서 title, viewName을 세팅해서 header(config)로 전달 -->
	<div layout:fragment="content">
		<div class="wrapper">
			<form class="login_form">
				<div th:if="${param.required}" class="alert alert-warning mb-3">
					로그인 후 이용 가능한 메뉴입니다.<br>먼저 로그인해주세요.
				</div>

				<h2 class="login_form-heading text-center">로그인</h2>

				<input type="text" class="form-control mb-2" name="username" placeholder="아이디" required autofocus
					autocomplete="off" />

				<input type="password" class="form-control mb-2" name="password" placeholder="비밀번호" required
					autocomplete="off" />

				<div class="form-check">
					<input type="checkbox" class="form-check-input cursor_pointer" id="auto_login" name="remember-me">
					<label class="form-check-label cursor_pointer" for="auto_login">자동 로그인</label>
				</div>

				<button class="btn btn-primary btn-block login_btn" type="button">로그인</button>
				<button class="btn btn-info btn-block join_btn" type="button">회원가입</button>
			</form>
		</div>
	</div>

</body>

</html>