<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single_layout}"
    xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <form class="card p-4 shadow-sm memberJoinForm">

        <!-- 사업자번호(아이디) -->
        <label for="loginId" class="form-label required">사업자번호(아이디)</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control agent_num" name="loginId" placeholder="사업자번호(하이픈 '-' 제외)를 입력하세요"
                maxlength="12">
            <button type="button" class="btn btn-secondary input-group-append check_agent_num" value="n">중복체크</button>
        </div>

        <!-- 업체명 -->
        <div class="mb-3">
            <label for="companyName" class="form-label required">업체명</label>
            <input type="text" class="form-control" id="companyName" name="name" placeholder="업체명을 입력하세요">
        </div>

        <!-- 주소 -->
        <div class="mb-3">
            <label for="address" class="form-label">주소</label>
            <input type="text" class="form-control cursor_pointer" name="agentZipCode" placeholder="우편번호 조회 시, 클릭하세요"
                readonly onclick="sample4_execDaumPostcode(zipCode = 'agentZipCode', addr = 'addr1')">
            <!-- 주소정보(addr)은  주소+상세조합(addr)로 담아서 서버로 보낸다. -->
            <input type="text" class="form-control d-inline-block addr1" name="addr" placeholder="주소를 조회하세요." readonly>
            <input type="text" class="form-control addr2" placeholder="상세주소를 입력하세요.">
        </div>

        <!-- 비밀번호 입력란 -->
        <div class="mb-3">
            <label for="password" class="form-label required">비밀번호</label>
            <input type="password" class="form-control password" id="password" name="pwd"
                placeholder="영어 소문자/대문자 + 숫자 조합 8~16자리">
            <span class=""></span>
        </div>
        <!-- 비밀번호 확인 -->
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control confirmPassword" id="confirmPassword"
                placeholder="비밀번호를 확인하세요">
            <span class="d-none text-danger fs-6 chkPwdMsg">비밀번호가 일치하지 않습니다.</span>
        </div>

        <!-- 이름 -->
        <div class="mb-3">
            <label for="manager" class="form-label required">이름(담당자)</label>
            <input type="text" class="form-control" id="manager" name="manager" placeholder="업체 담당자명을 입력하세요">
        </div>

        <!-- 대표자(명) -->
        <div class="mb-3">
            <label for="ceo" class="form-label">대표자(명)</label>
            <input type="text" class="form-control" id="ceo" name="ceo" placeholder="업체 대표명을 입력하세요">
            <input type="checkbox" id="checkIsSameManager" class="checkIsSameManager cursor_pointer">
            <label class="form-check-label cursor_pointer" for="checkIsSameManager">
                위 이름(담당자)명과 동일
            </label>
        </div>

        <!-- 이메일 주소 -->
        <div class="mb-3">
            <label for="email" class="form-label required">이메일 주소</label>
            <div class="input-group">
                <!-- 이메일 주소도 주소와 마찬가지로 스크립트에서 정규식 체크 후 서버에 전달 -->
                <input type="text" class="form-control mail_id" id="email" placeholder="이메일 아이디를 입력하세요" name="email"
                    aria-label="Username">
                <span class="input-group-text py-1">@</span>
                <select class="form-select mailSelect">
                    <option value="">이메일 선택</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="naver.com">naver.com</option>
                    <option value="daum.net">daum.net</option>
                    <option value="custom">직접입력</option>
                </select>
                <input type="text" class="form-control emailInput"
                    placeholder="'직접입력' 선택 후 입력하세요." aria-label="Email domain manual" readonly>
            </div>
        </div>

        <!-- 휴대폰번호 -->
        <div class="mb-3">
            <label for="phone" class="form-label required">휴대폰번호</label>
            <input type="tel" class="form-control hp" id="phone" name="phone" placeholder="하이픈('-')을 제외하고 입력하세요.">
        </div>

        <!-- 전화번호 -->
        <div class="mb-3">
            <label for="tel" class="form-label">전화번호</label>
            <input type="tel" class="form-control tel" id="tel" name="agentTel" placeholder="02-000-0000">
        </div>

        <!-- 개인정보 약관 동의 -->
        <div class="mb-3">
            <label for="" class="form-label required">개인정보 처리방침 동의 여부</label>
            <textarea class="w-100 form-control" rows="3" style="resize: none;" readonly>개인정보 처리방침 어쩌구</textarea>
            <input type="checkbox" id="privacyCheck" class="check_privacy cursor_pointer">
            <label class="form-check-label cursor_pointer" for="privacyCheck">
                개인정보 처리방침에 동의합니다.
            </label>
        </div>

    </form>
</div>

</html>