<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
    xmlns:th="http://www.thymeleaf.org">

<body>
    <div layout:fragment="content">
        <div class="wrapper">
            <div class="member-form-area mb-3">
                <!-- 등록, 리스트 돌아가기 -->
                <div class="d-flex">
                    <div class="p-2 ml-auto mr-3">
                        <button type="button" class="btn btn-primary memberSave">저장</button>
                        <button type="button" class="btn btn-secondary goBack">리스트</button>
                    </div>
                </div>
                <form class="memberModifyForm">
                    <div class="row" style="margin-right: 0px !important;">
                        <div class="col-lg-10 pr-lg-2">
                            <table class="table table-bordered text-center mb-0 member_info">
                                <colgroup>
                                    <col style="width: 110px;" />
                                    <col style="width: 420px;" />
                                    <col style="width: 110px;" />
                                    <col style="width: 420px;" />
                                </colgroup>

                                <tbody>
                                    <!-- 이름 / 휴대번호 -->
                                    <tr>
                                        <th class="align-middle"><span class="text-danger">*</span>이름</th>
                                        <td class="text-left">
                                            <div class="d-flex">
                                                <input type="text" class="form-control mr-1" name="name"
                                                    style="width:50%;" />
                                                <input type="text" class="form-control ml-1" name="nameEng"
                                                    placeholder="영문이름" style="width:50%;" />
                                            </div>
                                        </td>

                                        <th class="align-middle">휴대번호</th>
                                        <td class="text-left">
                                            <input type="text" class="form-control hp" name="hp" maxlength="20" />
                                        </td>
                                    </tr>

                                    <!-- 사번 / 생년월일 -->
                                    <tr>
                                        <th class="align-middle">사번</th>
                                        <td class="text-left">
                                            <input type="text" class="form-control" name="companyNo" />
                                        </td>

                                        <th class="align-middle">생년월일</th>
                                        <td class="text-left">
                                            <input type="date" class="form-control" name="birth" max="9999-12-31" />
                                        </td>
                                    </tr>

                                    <!-- 주소(가로배치) / 이메일(한 줄) -->
                                    <tr>
                                        <th class="align-middle">주소</th>
                                        <td class="text-left">
                                            <div class="d-flex">
                                                <input type="text" class="form-control mr-1" name="addr1"
                                                    style="width:50%;" />
                                                <input type="text" class="form-control ml-1" name="addr2"
                                                    style="width:50%;" />
                                            </div>
                                        </td>

                                        <th class="align-middle"><span class="text-danger">*</span>E-mail</th>
                                        <td class="text-left">
                                            <input type="text" class="form-control" name="email" />
                                        </td>
                                    </tr>

                                    <!-- 부서 / 직급 -->
                                    <tr>
                                        <th class="align-middle">부서</th>
                                        <td class="text-left">
                                            <select class="form-control departmentSelect" name="departmentId">
                                                <option value="">선택</option>
                                                <!-- 동적 렌더링 -->
                                            </select>
                                        </td>

                                        <th class="align-middle">직급</th>
                                        <td class="text-left">
                                            <select class="form-control memberLevelSelect" name="levelId">
                                                <option value="">선택</option>
                                                <!-- 동적 렌더링 -->
                                            </select>
                                        </td>
                                    </tr>

                                    <!-- 아이디 / 로그인 가능 -->
                                    <tr>
                                        <th class="align-middle"><span class="text-danger">*</span>아이디</th>
                                        <td class="text-left">
                                            <input type="text" class="form-control" name="loginId" maxlength="20" />
                                        </td>

                                        <th class="align-middle">로그인 가능</th>
                                        <td class="text-left">
                                            <select class="form-control" name="isActive">
                                                <option value="y">가능</option>
                                                <option value="n">불가능</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <!-- 비밀번호 / 비밀번호 확인 -->
                                    <tr>
                                        <th class="align-middle"><span class="text-danger">*</span>비밀번호</th>
                                        <td class="text-left">
                                            <input type="password" class="form-control" name="pwd" />
                                        </td>

                                        <th class="align-middle"><span class="text-danger">*</span>비밀번호 확인</th>
                                        <td class="text-left">
                                            <input type="password" class="form-control" name="pwdConfirm" />
                                        </td>
                                    </tr>

                                    <!-- 입사일 / 퇴사일 -->
                                    <tr>
                                        <th class="align-middle">입사일</th>
                                        <td class="text-left">
                                            <input type="date" class="form-control" name="joinDate" max="9999-12-31" />
                                        </td>

                                        <th class="align-middle">퇴사일</th>
                                        <td class="text-left">
                                            <input type="date" class="form-control" name="leaveDate" max="9999-12-31" />
                                        </td>
                                    </tr>
                                    <!-- 상태/ 전화 -->
                                    <tr>
                                        <th class="align-middle">상태</th>
                                        <td class="text-left">
                                            <select class="form-control" name="workType">
                                                <option value="0">재직</option>
                                                <option value="1">휴직</option>
                                                <option value="2">퇴사</option>
                                            </select>
                                        </td>
                                        <th>전화</th>
                                        <td class="text-left">
                                            <input type="text" class="form-control tel" name="tel" maxlength="15" />
                                        </td>
                                    </tr>

                                    <!-- 비고 -->
                                    <tr>
                                        <th class="align-middle">비고</th>
                                        <td class="text-left" colspan="3">
                                            <textarea class="form-control" name="remark" rows="5"
                                                style="resize:none;"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-2 pl-lg-0 mt-2 mt-lg-0">
                            <div class="border p-2 h-100 member-sign-panel" style="min-height: 260px;">
                                <div class="border mb-2 d-flex align-items-center justify-content-center"
                                    style="height: 320px; overflow:hidden;">
                                    <img class="memberImgEle" alt="sign preview" src="/images/basic_user.png" />
                                </div>

                                <label for="sign_img" class="btn btn-secondary w-100 mb-0">
                                    성적서 서명 이미지 첨부
                                </label>
                                <input id="sign_img" name="memberImage" class="d-none" type="file"
                                    accept=".png,.jpg,.jpeg" />
                                <button type="button" class="btn btn-danger w-100 mt-2 deleteUserImg">
                                    삭제
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="grid itemAuthGrid" style="width: 82.5% !important;"></div>
        </div>
    </div>
</body>

</html>