<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
    xmlns:th="http://www.thymeleaf.org">

<body>
    <div layout:fragment="content">
        <div class="wrapper">
            <form class="searchForm mb-1" name="searchForm">
                <div class="d-flex">
                    <ul class="list-group list-group-horizontal font-weight-bold mr-auto">
                        <li>
                            <button type="button" class="btn btn-danger deleteAgentBtn">삭제</button>
                            <button type="button" class="btn btn-primary addAgentBtn">등록</button>
                            <button type="button" class="btn btn-info groupManageBtn"><i
                                    class="bi bi-diagram-3"></i>그룹관리</button>
                        </li>
                    </ul>
                    <ul class="ml-auto list-group list-group-horizontal" id="searchFormUl">
                        <li class="mr-1 d-flex">
                            <div class="input-group">
                                <select class="form-control searchType" name="searchType" id="searchType">
                                    <option value="all">전체선택</option>
                                    <!-- 타임리프 문법으로 꾸며주어야 함. -->
                                    <option value="name">업체명</option>
                                    <option value="agentNum">사업자번호</option>
                                    <option value="addr">주소</option>
                                </select>
                                <div class="input-group-append">
                                    <input type="input" class="form-control" id="keyword"
                                        name="keyword" value="" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                        </li>
                    </ul>
                </div>
            </form>
            <div class="grid agentList"></div>
        </div>
    </div>
</body>

</html>