<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div layout:fragment="content">
		<div class="row m-0 p-1">
			<div class="col-lg-6 col-md-6 pl-0 pr-1">
				<div class="card">
					<div class="card-header p-1">
						<div class="d-flex">
							<ul style="margin-bottom: 0px !important;">
								<li>
									<h5 class="font-weight-bold card_header_style">중분류 관리</h5>
								</li>
							</ul>
							<ul class="ml-auto list-group list-group-horizontal">
								<li>
									<button type="button" class="btn btn-info manageBig">대분류 관리</button>
									<button type="button" class="btn btn-danger deleteItemCode"
										data-type="MIDDLE">삭제</button>
									<button type="button" class="btn btn-primary initItemCode"
										data-type="MIDDLE">신규</button>
									<button type="button" class="btn btn-success saveItemCode"
										data-type="MIDDLE">저장</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body p-1">
						<form id="middle_code_frm">
							<table class="table table-bordered table-hover text-center mb-0">
								<colgroup>
									<col width="100px">
									<col width="200px">
								</colgroup>
								<tbody class="middleCodeBody">
									<tr>
										<th class="required">대분류코드</th>
										<td>
											<select class="form-control largeCodeSeelct">
												<option value="">대분류선택</option>
											</select>
										</td>
									</tr>
									<tr>
										<th class="required">중분류코드</th>
										<td>
											<input class="form-control rounded-0" name="codeNum" maxlength="3">
											<input type="hidden" name="id">
											<input type="hidden" name="isKolasStandard">
										</td>
									</tr>
									<tr>
										<th class="required">중분류명</th>
										<td><input type="text" class="form-control rounded-0" name="codeName" />
										</td>
									</tr>
									<tr>
										<th>중분류명(영문)</th>
										<td><input type="text" class="form-control rounded-0" name="codeNameEn" /></td>
									</tr>
								</tbody>
							</table>
						</form>
						<div class="input-group w-100 mb-1 mt-3">
							<input type="text" class="form-control middle_keyword w-75" placeholder="중분류 검색">
							<div class="input-group-append">
								<button class="btn btn-info middle_search" type="button">조회</button>
							</div>
						</div>
						<!-- 체크박스, 중분류코드, 중분류명, 중분류명(영문) -->
						<div class="grid middleGrid"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 pl-0 pr-1">
				<div class="card">
					<div class="card-header p-1">
						<div class="d-flex">
							<ul>
								<li>
									<h5 class="font-weight-bold card_header_style">소분류 관리</h5>
								</li>
							</ul>
							<ul class="ml-auto list-group list-group-horizontal">
								<li>
									<button type="button" class="btn btn-danger deleteItemCode"
										data-type="SMALL">삭제</button>
									<button type="button" class="btn btn-primary initItemCode"
										data-type="SMALL">신규</button>
									<button type="button" class="btn btn-success saveItemCode"
										data-type="SMALL">저장</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body p-1">
						<form id="small_code_frm">
							<table class="table table-bordered table-hover text-center mb-0">
								<colgroup>
									<col width="100px">
									<col width="200px">
									<col width="100px">
									<col width="200px">
								</colgroup>
								<tbody class="smallCodeBody">
									<tr>
										<th class="required">소분류코드</th>
										<td colspan="3">
											<input class="form-control rounded-0" name="codeNum" maxlength="5">
											<input type="hidden" name="id">
											<input type="hidden" name="isKolasStandard">
										</td>
									</tr>
									<tr>
										<th class="required">소분류명</th>
										<td colspan="3"><input type="text" class="form-control rounded-0"
												name="codeName" /></td>
									</tr>
									<tr>
										<th class="">소분류명(영문)</th>
										<td colspan="3"><input type="text" class="form-control rounded-0"
												name="codeNameEn" /></td>
									</tr>
									<tr>
										<th rowspan="3">소급성</th>
										<td colspan="3"><input type="text" class="form-control rounded-0 tracestatementInfo"
												name="tracestatement" /></td>
									</tr>
									<tr>
										<td colspan="3"><input type="text" class="form-control rounded-0 tracestatementInfo"
												name="tracestatement2" /></td>
									</tr>
									<tr>
										<td colspan="3"><input type="text" class="form-control rounded-0 tracestatementInfo"
												name="tracestatement3" /></td>
									</tr>
									<tr>
										<th rowspan="3">소급성(영문)</th>
										<td colspan="3"><input type="text" class="form-control rounded-0 tracestatementInfo"
												name="tracestatementEn" /></td>
									</tr>
									<tr>
										<td colspan="3"><input type="text" class="form-control rounded-0 tracestatementInfo"
												name="tracestatementEn2" /></td>
									</tr>
									<tr>
										<td colspan="3"><input type="text" class="form-control rounded-0 tracestatementInfo"
												name="tracestatementEn3" /></td>
									</tr>

								</tbody>
							</table>
						</form>
						<div class="input-group mb-1 mt-3">
							<input type="text" class="form-control small_keyword w-75" placeholder="소분류 검색">
							<div class="input-group-append">
								<button class="btn btn-info small_search" type="button">조회</button>
							</div>
						</div>
						<!-- 체크박스, 소분류코드, 소분류명, 소분류(영문) -->
						<div class="grid smallGrid"></div>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>

</html>